:root {
    --heading-font: "Inter", sans-serif;
    --default-font: "Nunito", sans-serif;

    --bg-white: #ffffff;
    --bg-light: #F5F5FF;
    --bg-blue: #010273;
    --bg-orange: #FF8C02;
    --bg-yellow: #FF9D00;
    --bg-banner-gradient: linear-gradient(-90deg, #D9F9FF, #EAECFF);
    --bg-blue-gradient: linear-gradient(-90deg, #02C4EB, #010273);
    --bg-angular-gradient: conic-gradient(from 90deg, #010273, #BFBFE7);
    --bg-accent: #30C5D2;
    --bg-gray: #E8E8E8;
    --bg-part2: #E8EEFF; 
    --bg-green: #008E17; 

    --default-color: #010273;
    --accent-color: #30C5D2;
    --text-white: #fff;
    --text-black: #000;
    --text-green: #008E17;
    --text-orange: #FF8C02;
    --text-yellow: #FF9D00;

    scroll-behavior: smooth;
}
.sec-padding{
    padding: 0 7%;
}
.heading{
    color: var(--default-color);
    font-family: var(--heading-font);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}
.heading span{
    color: var(--accent-color);
}
.blue-btn{
    color: var(--text-white);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-height: 45px;
    min-width: 205px;
    text-decoration: none;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 1px solid #010273;
    color: var(--text-white);
    background: var(--bg-blue);
}
.blue-btn:hover{
    background: var(--bg-blue);
}

/*--banner--*/
.banner-top{
    background: url(../images/advanced-generative-ai/banner-bg.webp) center center no-repeat, linear-gradient(90deg, #EFF1FF 0%, #CDF7FF 97.53%) ;
    background-size: cover;
    width: 100%;
    height: auto;
    display: block;
    min-height: 635px;
    padding: 30px 0;
}
.banner-top .heading{
    color: var(--default-color);
    font-family: var(--heading-font);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.54%;
    margin: 0;
}
.banner-top .heading span{
    color: var(--accent-color);
    border-bottom: 3px solid var(--bg-orange);
}
.banner-top .tagline{
    font-family: var(--default-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 27.28px;
    text-align: left;
    color: var(--default-color);
    margin: 15px 0;
}
.banner-top .start-rate{
    font-family: var(--default-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: var(--default-color);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
}
.banner-top .start-rate .start-content{
    margin-bottom: 0;
}
.banner-top .start-rate .all-rate{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.banner-top .start-rate .all-rate .part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.banner-top .start-rate .all-rate .part .rate{
    margin: 0;
}
.banner-top ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.banner-top ul li{
    position: relative;
    color: #03045E;
    font-family: var(--default-font);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 12px;
    padding-left: 35px;
}
.banner-top ul li:nth-last-child(1){
    margin-bottom: 0;
}
.banner-top ul li::before{
    content: "";
    position: absolute;
    left: 0;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0003 0C4.51161 0 0 4.46035 0 9.99951C0 15.506 4.47857 20 10.0003 20C15.5143 20 20 15.5141 20 9.99951C20 4.44351 15.4693 0 10.0003 0ZM15.8878 8.22418L9.30897 14.8039C8.8052 15.3077 7.98425 15.31 7.47821 14.8039L3.86335 11.1881C3.33884 10.6633 3.36087 9.80773 3.91421 9.30914C4.42317 8.85235 5.20524 8.86887 5.69411 9.35741C7.27444 10.9377 6.63103 10.294 8.39311 12.0573C11.7721 8.67838 11.7125 8.73799 14.0571 6.39346C14.5631 5.88775 15.3831 5.88775 15.8878 6.39346C16.3939 6.89917 16.3939 7.71912 15.8878 8.22418Z" fill="%2330C5D2"/></svg>');
    height: 20px;
    width: 20px;
}
.banner-top .btn-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
.banner-top .btn-group .blue-btn{
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 18px;
    min-width: 180px;
    border-radius: 6px;
    min-height: 55px;
}
.banner-top .btn-group .blue-btn span{
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.banner-top .btn-group .blue-btn:nth-last-child(1){
    background: var(--bg-white);
    color: var(--default-color);
}
.banner-top .btn-group .blue-btn:nth-last-child(1):hover{
    background: var(--bg-blue);
    color: var(--text-white);
}

.course-points{
    min-height: 96px;
    background: var(--bg-blue);
}
.course-points .points{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.course-points .points .point{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.course-points .points .point p{
    color: var(--text-white);
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.course-points .points .point p span{
    font-weight: 700;
    display: block;
    padding-top: 8px;
}

.highlights{
    padding: 60px 0;
}
.highlights .heading{
    margin-bottom: 40px;
}
.highlights .best-part{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.highlights .best-part span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f1deff;
    color: #712fd2;
}
.highlights .best-part span:nth-child(2){
    background: #ffebd3;
    color: #e3844d;
}
.highlights .best-part span:nth-child(3){
    background: #e2ffc4;
    color: #448303;
}
.highlights ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-top: 45px;
}
.highlights ul li{
    position: relative;
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-left: 35px;
    min-width: 50%;
}
.highlights ul li:nth-last-child(1){
    margin-bottom: 0;
}
.highlights ul li::before{
    content: "";
    position: absolute;
    left: 0;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0003 0C4.51161 0 0 4.46035 0 9.99951C0 15.506 4.47857 20 10.0003 20C15.5143 20 20 15.5141 20 9.99951C20 4.44351 15.4693 0 10.0003 0ZM15.8878 8.22418L9.30897 14.8039C8.8052 15.3077 7.98425 15.31 7.47821 14.8039L3.86335 11.1881C3.33884 10.6633 3.36087 9.80773 3.91421 9.30914C4.42317 8.85235 5.20524 8.86887 5.69411 9.35741C7.27444 10.9377 6.63103 10.294 8.39311 12.0573C11.7721 8.67838 11.7125 8.73799 14.0571 6.39346C14.5631 5.88775 15.3831 5.88775 15.8878 6.39346C16.3939 6.89917 16.3939 7.71912 15.8878 8.22418Z" fill="%2330C5D2"/></svg>');
    height: 20px;
    width: 20px;
}
.highlights .brand-rate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 60px;
}
.highlights .brand-rate .brand{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 188px;
    min-height: 70px;
    border-radius: 10px;
    background: #e4fcff;
    box-shadow: 0 0 1px #9798ff;
}
.highlights .head-top{
    color: var(--default-color);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 5px;
    background: var(--accent-color);
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}
.highlights .form-part{
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background: var(--bg-blue);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
}
.highlights .form-part .head{
    color: var(--text-white);
    text-align: center;
    font-family: var(--default-font);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
}
.highlights .form-part .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    color: var(--text-white);
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    gap: 20px;
    margin-bottom: 40px;
}
.highlights .form-part .timer div {
    
}
.highlights .form-part .timer div:nth-last-child(1) {
    border-right: none;
}
.highlights .form-part .timer span {
    display: block;
    min-width: 50px;
    min-height: 40px;
    border-radius: 5px;
    background: #FFF;
    color: var(--default-color);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.highlights .form-part form{

}
.highlights .form-part form input,.highlights .form-part form select{
    color: var(--text-white);
    font-family: var(--heading-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #5253A2;
    margin-bottom: 10px;
}
.highlights .form-part form select option{
    color: #000;
}
.highlights .form-part form input::placeholder{
    color: var(--text-white);
    opacity: 0.8;
}
.highlights .form-part form .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.highlights .form-part form .blue-btn{
    display: inline-flex;
    min-height: auto;
    min-width: auto;
    padding: 10px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--text-white);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.highlights .form-part form .blue-btn:hover{
    background: var(--bg-white);
    color: var(--default-color);
}
.highlights .form-part .condition{
    color: var(--text-white);
    font-family: var(--heading-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}
.highlights .form-part .condition a{
    color: var(--text-white);
}

.master-nav{
    position: sticky;
    top: 90px;
    z-index: 9;
    background: var(--bg-white);
    box-shadow: 0px 5px 10px 0px #F5F5FF;
    overflow: hidden;
    min-height: 60px;
}
.master-nav .nav-link{
    border-bottom: 3px solid transparent !important;
    padding: 18px 14px;
    display: inline-block;
    font-size: 16px;
    line-height: 10px;
    border-radius: 0 !important;
    cursor: pointer;
    font-weight: 500;
    color: #000;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.master-nav .nav-link.active{
    font-weight: 700;
}
.master-nav .nav-link.active, .master-nav .nav-link:hover{
    background-color: #f9f9f9 !important;
    color: var(--bg-blue) !important;
    border-bottom: 3px solid var(--bg-blue) !important;
    text-decoration: none;
}
.master-nav .blue-btn{
    font-size: 15px;
    font-weight: 600;
    min-height: 35px;
    min-width: 130px;
}

.overview{
    padding: 60px 0;
    background: var(--bg-light);
}
.overview .heading{
    text-align: center;
    margin-bottom: 40px;
}
.overview .accordion .accordion-header{
    background: var(--bg-blue);
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
}
.overview .accordion .accordion-item{
    margin-bottom: 1rem;
    border: 0;
    background: var(--bg-white);
}
.overview .accordion .accordion-item:nth-last-child(1) {
    margin-bottom: 0;
}
.overview .accordion .accordion-header .accordion-button{
    color: #fff;
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 7px 50px 6px 27px;
    position: relative;
    border: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    text-decoration: none;
    box-shadow: none;
}
.overview .accordion .accordion-header .accordion-button.collapsed::after{
    content: "";
    background: url(../images/advanced-generative-ai/arrow-down.svg) no-repeat;
    background-size: contain;
    height: 13px;
    width: 19px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(0deg);
}
.overview .accordion .accordion-header .accordion-button::after{
    content: "";
    background: url(../images/advanced-generative-ai/arrow-down.svg) no-repeat;
    background-size: contain;
    height: 13px;
    width: 19px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(180deg);
}
.overview .accordion .accordion-body{
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--bg-white);
    border: 1px solid #ddd;
}
.overview .accordion .accordion-body p{
    color: var(--text-black);
    font-size: 16px;
}
.overview .calender{
    border-radius: 20px;
    background: var(--bg-white);
    position: sticky;
    top: 160px;
}
.overview .calender .course-over_view .program-overview-vdo, .overview .calender .course-over_view iframe {
    width: 100%;
    height: 300px;
}
.overview .calender .youtube-facade {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 300px;
}
.overview .calender .youtube-facade .play-button{
	position: absolute;
    border: none;
    background: transparent;
    height: 60px;
    width: auto;
}
.overview .calender .ytp-large-play-button svg {
    position: absulute;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.curriculum{
    padding: 60px 0;
}
.curriculum .heading{
    text-align: center;
    margin-bottom: 20px;
}
.curriculum .tagline{
    color: var(--text-black);
    text-align: center;
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.curriculum .accordion .accordion-header{
    background: var(--bg-white);
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
}
.curriculum .accordion .accordion-item{
    margin-bottom: 1rem;
    border: 0;
    background: var(--bg-white);
}
.curriculum .accordion .accordion-item:nth-last-child(1) {
    margin-bottom: 0;
}
.curriculum .accordion .accordion-header .accordion-button{
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 50px 6px 27px;
    position: relative;
    border: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    text-decoration: none;
    box-shadow: 0 6px 14px 0 #0102731f;
    min-height: 60px;
    gap: 5px;
}
.curriculum .accordion .accordion-header .accordion-button strong{
    display: contents;
}
.curriculum .accordion .accordion-header .accordion-button .duration {
    padding-left: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    padding-right: 15px;
    text-align: left;
    min-width: 120px;
}

.curriculum .accordion .accordion-header .accordion-button .duration:before {
    content: "";
    background: url(../images/advanced-generative-ai/clock.svg);
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
}
.curriculum .accordion .accordion-header .accordion-button.collapsed::after{
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none"><circle cx="13.5" cy="13.5" r="12.5" stroke="%23010273" stroke-width="2"/><path d="M8.18182 13.5H19.6364" stroke="%23010273" stroke-width="2"/><path d="M13.9091 8.18164L13.9091 19.6362" stroke="%23010273" stroke-width="2"/></svg>');
    background-size: contain;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(0deg);
}
.curriculum .accordion .accordion-header .accordion-button::after{
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none"><circle cx="13.5" cy="13.5" r="12.5" stroke="%23010273" stroke-width="2"/><path d="M8.18182 13.5H19.6364" stroke="%23010273" stroke-width="2"/></svg>');
    background-size: contain;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(180deg);
}
.curriculum .accordion .accordion-body{
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--bg-white);
    border: none;
}
.curriculum .accordion .accordion-body p{
    color: var(--text-black);
    font-size: 16px;
}
.curriculum .accordion .accordion-body .duration {
    padding-left: 25px;
    margin-left: 10px;
    position: relative;
}

.curriculum .accordion .accordion-body .duration:before {
    content: "";
    background: url(../images/advanced-generative-ai/clock.svg);
    position: absolute;
    left: 0;
    top: 2px;
    height: 18px;
    width: 18px;
}
.curriculum .curriculum-form{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    padding: 30px;
    text-align: center;
    position: sticky;
    top: 200px;
}
.curriculum .curriculum-form .head{
    color: var(--default-color);
    text-align: center;
    font-family: var(--default-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
}
.curriculum .curriculum-form .offer {
    background: var(--bg-blue);
    color: #fff;
    text-align: center;
    font-family: var(--default-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.curriculum .curriculum-form .offer img {
    background: var(--bg-accent);
    width: 33px;
    height: 32px;
    padding: 4px;
}
.curriculum .curriculum-form input, .curriculum .curriculum-form select{
    color: var(--text-black);
    font-family: var(--heading-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #C5C5C5;
    margin-bottom: 10px;
}
.curriculum .curriculum-form input::placeholder{
    color: #C5C5C5;
}
.curriculum .curriculum-form select{
    color: #C5C5C5;
}
.curriculum .curriculum-form .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.curriculum .curriculum-form .blue-btn{
    display: inline-flex;
    min-height: auto;
    min-width: auto;
    padding: 10px 45px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--default-color);
    color: #FFF;
    background: var(--bg-blue);
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cover-tools{
    padding: 60px 0;
    background: var(--bg-light);
}
.cover-tools .head-top span{
   background: #f1deff;
    padding: 3px 15px;
    display: inline-block;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;    
}
.cover-tools .heading{
    margin-bottom: 20px;
}
.cover-tools .tagline{
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 35px;
}
.cover-tools .tools-animation{
    position: relative;
    height: 260px;
    overflow: hidden;
}
.cover-tools .tools-animation img {
    position: absolute;
    object-fit: cover;
    animation: scrollUp 10s infinite linear;
}
.cover-tools .tools-animation img:nth-last-child(1) {
    animation-delay: 5s;
    opacity: 0;
}
.cover-tools .tools-animation:hover img {
  animation-play-state: paused;
}

@keyframes scrollUp {
    0% {
        transform: translateY(100%); /* Start from bottom */
        opacity: 1;
    }
    100% {
        transform: translateY(-100%); /* Move to top */
        opacity: 1;
    }
}
/*.cover-tools .tools-animation .animationrow{*/
/*    min-height: 75px;*/
/*    overflow: hidden;*/
/*}*/
/*.cover-tools .tools-animation .animationrow .col-4{*/
/*    position: relative;*/
/*    transition: ease-in-out 0.5s;*/
/*}*/
/*.cover-tools .tools-animation .animationrow.active .col-4{*/
/*    top: 0px;*/
/*}*/
/*.cover-tools .row .col-4{*/
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover-tools .row .col-4:after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, rgba(1, 2, 115, 0.00) 0%, #010273 50%, rgba(1, 2, 115, 0.00) 100%);
}
.cover-tools .row .col-4:nth-last-child(1)::after{
    display: none;
}

.skills-master{
    padding: 60px 0;
}
.skills-master .heading{
    text-align: center;
    margin-bottom: 40px;
}
.skills-master .row{
    row-gap: 1.5rem;
}
.skills-master p{
    border-radius: 10px;
    background: var(--bg-light);
    box-shadow: 0px 4px 4px 0px var(--bg-light);
    color: var(--default-color);
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.why-choose{
    padding: 60px 0;
    background: var(--bg-light);
    overflow: hidden;
}
.why-choose .heading{
    text-align: center;
    margin-bottom: 40px;
}
.why-choose .qutes{
    position: relative;
    margin-bottom: 40px;
}
.why-choose .qutes p{
    color: var(--text-black);
    font-family: var(--heading-font);
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.why-choose .qutes p img{
    max-width: 60px;
}
.why-choose .part{
    box-shadow: 0px 6px 14.7px #01027326;
    padding: 30px;
    background: var(--bg-white);
    border-radius: 10px;
    min-height: 250px;
}
.why-choose .part:hover{
    box-shadow: 9px 9px 22px 0px rgba(48, 197, 210, 0.23);
}
.why-choose .part .image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-bottom: 2px solid #6255a533;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.why-choose .part .head{
    color: var(--default-color);
    font-family: var(--default-font);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.why-choose .part p{
    color: var(--text-black);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.what-do{
    padding: 60px 0;
    overflow: hidden;
}
.what-do .heading{
    text-align: center;
    margin-bottom: 20px;
}
.what-do .tagline{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.what-do .part{
    box-shadow: 0px 6px 14.7px #01027326;
    padding: 30px;
    background: var(--bg-white);
    border-radius: 10px;
    min-height: 230px;
}
.what-do .part:hover{
    box-shadow: 9px 9px 22px 0px rgba(48, 197, 210, 0.23);
}
.what-do .part .image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border-bottom: 2px solid #6255a533;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.what-do .part .head{
    color: var(--default-color);
    font-family: var(--default-font);
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}
.what-do .part p{
    color: var(--text-black);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.career-opportunities{
    padding: 60px 0;
    background: var(--bg-light);
}
.career-opportunities .heading{
    text-align: center;
    margin-bottom: 20px;
}
.career-opportunities .tagline{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.career-opportunities .row{
    row-gap: 1.5rem;
}
.career-opportunities .row .col-md-6 p{
    border-radius: 10px;
    background: var(--bg-white);
    box-shadow: 0px 4px 4px 0px var(--bg-light);
    color: var(--default-color);
    text-align: center;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.program-bottom{
    padding: 60px 0;
}
.program-bottom .heading{
    margin-bottom: 40px;
}
.program-bottom .data .item {
    height: 100%;
    text-align: center;
    padding: 30px 15px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 5px 5px 2px rgba(48, 197, 210, 0.23);
    transition: ease 0.3s;
    margin: 0 5px;
}
.program-bottom .data .item:hover {
    transform: scale(1.08); 
}
.analytics-program .data .item img {
    height: 64px;
    width: 64px;
    border-radius: 6px;
    background: #30c5d2;
    padding: 13px;
}
.program-bottom .data .item .head {
    font-family: var(--default-font);
    font-size: 18px;
    font-weight: 700;
    margin: 20px 0;
    min-height: 43px;
}
.program-bottom .data .item p {
    color: var(--text-black);
    text-align: center;
    font-family: var(--default-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
.program-bottom .accent-btn{
    margin-top: 40px;
}


.faculty{
    padding: 60px 0;
    background: linear-gradient(180deg, var(--bg-light), transparent);
}
.faculty .heading{
    text-align: center;
    margin-bottom: 40px;
}
.faculty .item{
    background: var(--bg-white);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 6px 14.7px rgba(1, 2, 115, 0.15);
    position: relative;
    min-height: 380px;
    transition: ease0.5s;
    overflow: hidden;
    margin-bottom: 20px;
}

.faculty .item img:nth-child(1){
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 1px solid #ddd;
}
.faculty .item .name{
    color: var(--text-black);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 20px;
}
.faculty .item .content{
    padding-top: 20px;
}
.faculty .item .content p{
    color: var(--text-black);
    min-height: 100px;
}
.faculty .item .content img{
    height: 50px;
    max-width: 100%;
}
.faculty .swiper .swiper-pagination3 {
    margin-top: 40px;
}
.faculty .swiper .swiper-pagination3 span {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin: 10px;
    background: var(--bg-accent);
    border: 5px solid transparent;
    box-shadow: 0 0 0 2px transparent;
    transition: .2s;
    opacity: 1
}
.faculty .swiper .swiper-pagination3 .swiper-pagination-bullet-active {
    background: var(--bg-blue);
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--bg-white);
    box-shadow: 0 0 0 2px var(--bg-blue)
}

.partner{
    padding: 60px 0;
    background: var(--bg-light);
}
.partner .heading{
    text-align: center;
    margin-bottom: 40px;
}
.partner .part{
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 14.7px 0px rgba(1, 2, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 30px;
    min-height: 90px;
}
.partner .part .icon{
    max-height: 70px;
    max-width: 70px;
}
.partner .part p{
    color: var(--text-black);
    font-family: var(--heading-font);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
}

.industry-projects{
    padding: 60px 0;
}
.industry-projects .heading{
    text-align: center;
    margin-bottom: 20px;
}
.industry-projects .tagline{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.industry-projects .project-slide{
    overflow: hidden;
}
.industry-projects .projects{
    display: flex;
    gap: 3.33%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    margin: 0 2%;
}
.industry-projects .projects .project{
    min-width: 30%;
    box-sizing: border-box;
    background: var(--bg-white);
    box-shadow: 0px 6px 14.7px rgba(1, 2, 115, 0.15);
    border-radius: 10px;
    border-bottom: 20px solid #ffff;
    overflow: hidden;
    position: relative;
    max-height: 460px;
}
.industry-projects .projects .project .head-part{
    background: #ECF4FF;
    position: relative;
    display: flex;
    justify-content: center;
}
.industry-projects .projects .project .head-part .head{
    color: var(--default-color);
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
    position: absolute;
    top: 50px;
    background: #ffffffe3;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 20px;
}
.industry-projects .projects .project .content{
    color: #000;
    font-family: var(--default-font);
    font-size: 17px;
    margin: 0;
    padding: 20px;
    position: relative;
    top: 0;
    background: #fff;
    transition: ease 0.5s;
}
.industry-projects .projects .project:hover .content{
    top: -150px;
}
.industry-projects .btn-group{
    text-align: center;
    margin-top: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.industry-projects .btn-group button{
    width: 40px;
    height: 40px;
    background: var(--bg-blue);
    color: var(--text-white);
    border-radius: 50%;
}

.career-service{
    padding: 60px 0;
    background: var(--bg-light);
}
.career-service .heading{
    text-align: center;
    margin-bottom: 20px;
}
.career-service .tagline{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.career-service .nav-tabs{
    margin-bottom: 80px;
    justify-content: center;
    border-bottom: 0;
}
.career-service .nav-tabs .nav-link{
    color: #979494;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border: 0;
    border-bottom: 3px solid #D9D9D9;
}
.career-service .nav-tabs .nav-link.active{
    color: var(--text-black);
    border-bottom: 3px solid var(--text-black);
    background: transparent;
}
.career-service .part{
    border: 1px solid var(--text-black);
    padding: 0 20px 20px 20px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    min-height: 250px;
    background: var(--bg-white);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}
.career-service .part .icon{
    background: var(--bg-white);
    border: 1px solid var(--text-black);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -50px;
    border-radius: 50%;
}
.career-service .part .head{
    color: var(--text-black);
    text-align: center;
    font-family: var(--default-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
    position: relative;
    top: -20px;
}
.career-service .part p{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
}

.academy-partner{
    padding: 60px 0;
}
.academy-partner .heading{
 margin-bottom: 40px;   
}
.academy-partner .acdmcPrtnrParent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;
}
.academy-partner .acdemicmlsParner {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    box-shadow: -4px 4px 7.6px 3px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding: 0px 20px;
}
.academy-partner .acdemicmlsParner .mlsacademicpic {
    width: 70px;
}
.academy-partner .acdemicmlsParner p {
    font-weight: 700;
    color: #000;
    font-family: "Montserrat";
    font-size: 13px;
    margin: 0;
}

.certification{
    padding: 60px 0; 
    background: var(--bg-light);
}
.certification .heading{
    margin-bottom: 25px;
}
.certification .tagline{
    color: var(--text-black);
    font-size: 18px;
}
/*.certification .contentbx{*/
/*    padding-bottom: 1rem;*/
/*}*/
.certification .contentbx .points{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 25px;
    flex-direction: column;
}
.certification .contentbx .points .part{
    display: flex;
    align-items: center;
    gap: 20px;
}
.certification .contentbx .points .part span{
    min-width: 65px;
    min-height: 65px;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(1, 2, 115, 0.20);
    display: flex;
    align-items: center;
    justify-content: center;
}
.certification .contentbx .points .part img{
    min-height: 40px;
    min-width: 40px;
    max-width: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.certification .contentbx .points .part .head{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}
.certification .tab-content{
    margin-top: 1rem;   
}
.certification .nav-tabs{
    justify-content: center;
    border: none;
    margin-top: 1rem;   
    gap: 20px;
}
.certification .nav-tabs .nav-link{
    color: #010273;
    font-weight: 600;  
    position: relative;
    padding: 0;
    padding-left: 30px;
    margin-left: 10px;
    border: none;
}
.certification .nav-tabs .nav-link:after{
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #010273;
}
.certification .nav-tabs .nav-link.active:after{
    background: #010273;
    box-shadow: inset 0 0 0 2px #fff;
}
.certification .nav-tabs .nav-link.active{
    background: transparent;
    border: none;
    color: #010273;
    font-weight: 600;
    padding: 0;
    padding-left: 30px;
    margin-left: 10px;
}
.certification .cc-image{
    text-align: center;
}

.price-sec {
    padding: 60px 0;
}
.price-sec .heading{
    margin-bottom: 40px;
}
.price-sec .head{
    font-size: 23px;
    font-weight: 600;
    color: var(--text-black);
}
.price-sec p{
    color: var(--text-black);
    font-size: 17px;
}
.price-sec .left-side ul{
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}
.price-sec .left-side ul li{
    position: relative;
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    padding-left: 35px;
}
.price-sec .left-side ul li:nth-last-child(1){
    margin-bottom: 0;
}
.price-sec .left-side ul li::before{
    content: "";
    position: absolute;
    left: 0;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0003 0C4.51161 0 0 4.46035 0 9.99951C0 15.506 4.47857 20 10.0003 20C15.5143 20 20 15.5141 20 9.99951C20 4.44351 15.4693 0 10.0003 0ZM15.8878 8.22418L9.30897 14.8039C8.8052 15.3077 7.98425 15.31 7.47821 14.8039L3.86335 11.1881C3.33884 10.6633 3.36087 9.80773 3.91421 9.30914C4.42317 8.85235 5.20524 8.86887 5.69411 9.35741C7.27444 10.9377 6.63103 10.294 8.39311 12.0573C11.7721 8.67838 11.7125 8.73799 14.0571 6.39346C14.5631 5.88775 15.3831 5.88775 15.8878 6.39346C16.3939 6.89917 16.3939 7.71912 15.8878 8.22418Z" fill="%2330C5D2"/></svg>');
    height: 20px;
    width: 20px;
}
.price-sec .left-side ul li span{
    font-size: 12px !important;
    font-weight: 700 !important;
    background: #919191;
    width: 17px;
    height: 17px;
    color: var(--text-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0 !important;
}
.price-sec .left-side .head{
    font-size: 22px;
    font-weight: 700;
    color: var(--text-black);
    margin-bottom: 20px;
    font-family: var(--default-font);
}
.price-sec .right-side{
    background: #DFFCFF;
    border-radius: 25px;
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 0 10px 0 #01037374;
    position: relative;
    width: 90%;
    height: 90%;
}
.price-sec .right-side:after{
    content: "";
    position: absolute;
    bottom: -10%;
    right: -10%;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url(../images/advanced-generative-ai/dotted-bg.webp) right bottom no-repeat;
    border-radius: 20px;
}
.price-sec .right-side .head{
    color: var(--text-black);
    text-align: center;
    font-family: var(--default-font);
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 20px;
}
.price-sec .right-side .head span {
    font-size: 15px;
}
.price-sec .right-side .price{
    color: var(--text-black);
    font-size: 18px;
    font-weight: 500;
}
.price-sec .right-side .price span{
    display: block;
    font-weight: 600;
    color: #FF0000;
}
.price-sec .right-side .blue-btn{
    margin-bottom: 20px;
    padding: 10px 30px;
    min-height: auto;
    min-width: auto;
    font-size: 15px;
}
.price-sec .right-side .register-btn{
    font-family: var(--heading-font);
    font-size: 15px;
    font-weight: 600;
    min-height: 40px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 0;
    color: var(--default-color);
    background: var(--accent-color);
    margin: 20px auto;
    width: 145px;
}

.feeplan .modal-content{
    border: 2px solid var(--bg-blue);
    background: var(--bg-light);
    padding: 2rem
}
.feeplan .modal-content .btn-close{
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--bg-white);
    opacity: 1;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    border: 1px solid var(--bg-blue);
    font-weight: 700;
}
.feeplan .modal-content .heading{
    margin-bottom: 10px;
}
.feeplan .modal-content .nav-tabs{
    border: none;
    justify-content: center;
    margin-bottom: 30px;
}
.feeplan .modal-content .nav-tabs .nav-link{
    background: var(--bg-light);
    border-radius: 10px;
    border: 2px solid var(--default-color);
    color: var(--default-color);
    margin: 0 10px;
    padding: 5px 15px;
}
.feeplan .modal-content .nav-tabs .nav-link.active{
    background: var(--bg-blue);
    color: var(--text-white);
}
.feeplan .modal-content ul{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
.feeplan .modal-content ul li{
    background: #EAEAFF;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.feeplan .modal-content .orange-btn{
    background: var(--bg-orange);
    color: var(--text-white);
    padding: 7px 15px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 700;
    display: inline-block;
}

.admission-process{
    padding: 60px 0;
    background: var(--bg-light);
}
.admission-process .heading{
    text-align: center;
    margin-bottom: 20px;
}
.admission-process .tagline{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.admission-process .part{
    background: var(--bg-white);
    box-shadow: 0px 6px 14.7px rgba(151, 71, 255, 0.20);
    border-radius: 10px;
    padding: 20px;
    min-height: 335px;
    position: relative;
    overflow: hidden;
    transition: ease 0.3s;
}
.admission-process .part:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 10px;
    width: 100%;
    background: var(--bg-blue);
    transition: ease 0.3s;
}
.admission-process .part:hover:after{
    bottom:0;
}
.admission-process .part:hover img{
    transform: rotate(360deg);   
    transition: ease 0.3s;
}
.admission-process .part .head{
    color: var(--text-black);
    text-align: left;
    font-family: var(--default-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.admission-process .part p{
    text-align: justify;
    font-family: var(--default-font);
    color: var(--text-black);
}
.admission-process .part span{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    font-weight: 700;
    color: var(--bg-blue);
    opacity: 0.3;
}

.upcoming-app{
    background: var(--bg-white);
    padding: 60px 0;
}
.upcoming-app .center-part{
    background: url(../images/advanced-generative-ai/upcoming-app-bg.webp) no-repeat center, linear-gradient(0deg, var(--bg-blue), var(--bg-blue));
    background-size: cover;
    border-radius: 10px;
    padding: 1rem 0;
    margin: 0;
}
.upcoming-app .center-part .col-md-6:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.upcoming-app .center-part .heading{
    color: #F9F9F9;
    position: relative;
    overflow: hidden;
    padding-right: 140px;
}
.upcoming-app .center-part .heading span{
    display: block;
}
.upcoming-app .center-part .heading:after{
    content: "";
    background: #D2C3FA;
    height: 120px;
    width: 120px;
    position: absolute;
    right: 10px;
    top: -60px;
    border-radius: 50%;
}
.upcoming-app .center-part p{
    color: #F9F9F9;
    font-size: 18px;
    width: 80%;
}
.upcoming-app .center-part .btn-group{
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.upcoming-app .center-part .btn-group .blue-btn{
    color: var(--default-color);
    background: var(--bg-white);
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    min-height: 35px;
    min-width: 130px;
}
.upcoming-app .center-part .btn-group .blue-btn:hover{
    color: var(--default-color);
    background: var(--bg-white);
}
.upcoming-app .center-part .btn-group .orange-btn{
    color: var(--default-color);
    background: var(--bg-orange);
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    0%, 100% {
        background: var(--bg-orange);
    }
    50% {
        background: var(--bg-white);
    }
}

.review{
    padding: 60px 0;
    background: var(--bg-light);
}
.review .heading{
    text-align: center;
    margin-bottom: 20px;
}
.review .tagline{
    color: var(--text-black);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.review .item{
    background: var(--bg-white);
    box-shadow: 0px 6px 14.7px rgba(151, 71, 255, 0.20);
    border-radius: 10px;
    border-bottom: 10px solid var(--bg-blue);
    padding: 20px;
    min-height: 400px;
}
.review .item .details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.review .item .details .image{
     background:  #dddddd42;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100px;
     width: 100px;
     overflow: hidden;
}
.review .item .details .image img{
    object-fit: cover;
}
.review .item .details .namestar .name{
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
}
.review .item .content{
    margin-top: 20px;
}
.review .item .content p{
    color: var(--text-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}
.review .swiper .swiper-pagination2 {
    margin-top: 40px;
}
.review .swiper .swiper-pagination2 span {
    width: 8px;
    height: 8px;
    border-radius: 20px;
    margin: 10px;
    background: var(--bg-accent);
    border: 5px solid transparent;
    box-shadow: 0 0 0 2px transparent;
    transition: .2s;
    opacity: 1
}
 
.review .swiper .swiper-pagination2 .swiper-pagination-bullet-active {
    background: var(--bg-blue);
    padding: 5px;
    margin: 5px;
    border: 5px solid var(--bg-white);
    box-shadow: 0 0 0 2px var(--bg-blue)
}

.faq{
    padding: 60px 0;
}
.faq .heading{
    text-align: center;
    margin-bottom: 40px;
}
.faq .nav-tabs{
    margin-bottom: 40px;
    justify-content: center;
    border-bottom: 0;
}
.faq .nav-tabs .nav-link{
    color: #979494;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border: 0;
    border-bottom: 3px solid #D9D9D9;
}
.faq .nav-tabs .nav-link.active{
    color: var(--text-black);
    border-bottom: 3px solid var(--text-black);
    background: transparent;
}
.faq .accordion .accordion-header{
    background: var(--bg-white);
    min-height: 60px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 5px;
}
.faq .accordion .accordion-item{
    margin-bottom: 1rem;
    border: 0;
    background: var(--bg-white);
}
.faq .accordion .accordion-item:nth-last-child(1) {
    margin-bottom: 0;
}
.faq .accordion .accordion-header .accordion-button{
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 7px 50px 6px 27px;
    position: relative;
    border: 0;
    width: 100%;
    text-align: left;
    background: transparent;
    text-decoration: none;
    box-shadow: 0 6px 14px 0 #0102731f;
    min-height: 60px;
    gap: 5px;
}
.faq .accordion .accordion-header .accordion-button.collapsed::after{
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none"><circle cx="13.5" cy="13.5" r="12.5" stroke="%23010273" stroke-width="2"/><path d="M8.18182 13.5H19.6364" stroke="%23010273" stroke-width="2"/><path d="M13.9091 8.18164L13.9091 19.6362" stroke="%23010273" stroke-width="2"/></svg>');
    background-size: contain;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(0deg);
}
.faq .accordion .accordion-header .accordion-button::after{
    content: "";
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none"><circle cx="13.5" cy="13.5" r="12.5" stroke="%23010273" stroke-width="2"/><path d="M8.18182 13.5H19.6364" stroke="%23010273" stroke-width="2"/></svg>');
    background-size: contain;
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    right: 15px;
    transform: rotate(180deg);
}
.faq .accordion .accordion-body{
    color: var(--text-black);
    font-family: var(--default-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--bg-white);
    border: none;
}
.faq .accordion .accordion-body p{
    color: var(--text-black);
    font-size: 16px;
}

.down-fixed-bottom-dv {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
    z-index: 999;
    background: var(--bg-light);
    box-shadow: 0 4px 10px #7e7474;
}
.down-fixed-bottom-dv .blue-btn{
    min-height: 35px;
    font-size: 15px;
    font-weight: 600;
}
.down-fixed-bottom-dv .course-name-title-in-bottom-fx {
    color: var(--default-color);
    font-size: 18px;
    font-weight: 700;
}
.down-fixed-bottom-dv .course-name-title-in-bottom-fx .info{
    background: var(--bg-blue);
    color: var(--text-white);
    font-size: 15px;
    font-weight: 800;
    font-family: monospace;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.down-fixed-bottom-dv .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    border: none;
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .course-points .points {
        gap: 0;
        flex-wrap: wrap;
    }
    .course-points .points .point {
        justify-content: flex-start;
        width: 50%;
    }
    .highlights ul li {
        min-width: 47%;
    }
    .highlights .brand-rate {
        flex-wrap: wrap;
    }
     #navbar-example2{
        overflow: auto;
        white-space: nowrap;
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }
    #navbar-example2::-webkit-scrollbar{
        height: 1px;
    }
    #navbar-example2 .nav{
        display: flex;        ;
        flex-wrap: nowrap;
    }
    .cover-tools .tagline, .cover-tools .heading{
        padding-left: 0;
        margin-top: 0;
    }
    .what-do .part {
        min-height: 300px;
    }
    .career-service .part {
        min-height: 300px;
    }
    .certification .contentbx .points {
        margin-top: 20px;
    }
    .certification .contentbx .points .part {
        min-width: 140px;
        max-width: 140px;
    }
    .partner .acdmcPrtnrParent, .academy-partner .acdmcPrtnrParent {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .banner-top .text-end{
        text-align: center !important;
    }
    .highlights .brand-rate .brand {
        min-width: 170px;
    }
    .master-nav {
        top: 80px;
    }
    .cover-tools{
        text-align: center;
    }
    .cover-tools .tagline, .cover-tools .heading{
        padding-left: 40px;
    }
    .cover-tools .tools-animation img {
        right: auto;
        left: 0;
        width: 100%;
    }
    .why-choose .why-choose-details{
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        padding-bottom: 15px;
    }
    .why-choose .why-choose-details::-webkit-scrollbar{
        height: 1px;
    }
    .why-choose .part {
        min-height: 300px;
    }
    .partner .acdmcPrtnrParent, .academy-partner .acdmcPrtnrParent {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .certification{
        text-align: center;
    }
    .certification .contentbx .points {
        justify-content: center;
        flex-direction: row;
    }
    .certification .contentbx .points .part {
        min-width: 230px;
        max-width: 140px;
        gap: 10px;
    }
    .certification .contentbx .points .part .head{
        text-align: left;
        font-size: 16px;
    }
    .industry-projects .projects{
        width: 100%;
        margin: 0;
        gap: 0;
    }
    .industry-projects .projects .project{
        min-width: 100%;
    }
    .career-service .nav-tabs{
        justify-content: center;
    }
    .review .item {
        min-height: 450px;
    }
    .down-fixed-bottom-dv .course-name-title-in-bottom-fx{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .highlights ul, .highlights .brand-rate{
        margin-top: 20px;
        justify-content: center;
    }
    .highlights ul li{
        width: 100%;
    }
    .what-do .row{
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .what-do .row::-webkit-scrollbar {
        height: 1px;
    }
    .what-do .part {
        min-height: 275px;
        margin-bottom: 25px;
    }
    .career-service .nav-tabs{
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        padding-bottom: 15px;
    }
    .career-service .nav-tabs::-webkit-scrollbar{
        height: 0;
    }
    .career-service .nav-tabs .nav-link {
        width: max-content;
        padding: 0 10px;
    }
    .career-service .tab-content .tab-pane .row{
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        padding-bottom: 15px;
    }
    .career-service .tab-content .tab-pane .row::-webkit-scrollbar{
        height: 1px;
    }
    .career-service .nav-tabs .nav-link {
        font-size: 17px;
    }
    .career-service .part {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    .upcoming-app .center-part .col-md-6:nth-child(1){
        display: none;
    }
    .review .item{
        min-height: 450px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-top .heading, .heading {
        font-size: 25px;
    }
    .banner-top .btn-group{
        justify-content: center;
        gap: 15px;
    }
    .highlights .best-part {
        gap: 10px;
    }
    .highlights .best-part span {
        font-size: 12px;
    }
    .banner-top .btn-group .blue-btn {
        min-width: 135px;
        padding: 10px 15px;
    }
    .highlights .brand-rate .brand {
        min-width: 115px;
        max-width: 115px;
    }
    .highlights .form-part .timer {
        font-size: 10px;
        gap: 5px;
    }
    .highlights .form-part .timer span {
        min-width: 35px;
        min-height: 30px;
        font-size: 15px;
    }
    .highlights .form-part {
        padding: 20px;
    }
    .cover-tools .col-lg-5 img{
        display: none;
    }
    .cover-tools .tagline, .cover-tools .heading {
        padding-left: 0;
    }
    .cover-tools .tools-animation {
        height: 150px;
    }
    .why-choose .qutes::before{
        display: none;
    }
    .why-choose .qutes p{
        text-align: center;
    }
    .why-choose .part {
        min-height: auto;
        padding: 20px;
    }
    .program-bottom .data{
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        padding-bottom: 15px;
    }
    .program-bottom .data::-webkit-scrollbar{
        height: 1px;
    }
    .career-opportunities .row .col-md-6 p{
        font-size: 15px;
    }
    .course-points .points .point{
        width: 100%;
    }
    .course-points .points .point .icon{
        min-width: 50px;
        max-width: 50px;
        text-align: center;
        display: block;
    }
    .partner .part {
        padding: 0 10px;
        gap: 10px;
    }
    .partner .part .icon img{
        max-width: 45px;
    }
    .partner .part p {
        font-size: 13px;
        line-height: 18px;
    }
    .partner .acdmcPrtnrParent, .academy-partner .acdmcPrtnrParent {
        grid-template-columns: 1fr 1fr;
    }
    .certification .contentbx .points .part {
        min-width: auto;
        max-width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .admission-process .row{
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        padding-bottom: 15px;
    }
    .admission-process .row::-webkit-scrollbar{
        height: 1px;
    }
    .review .item .content p {
        text-align: justify;
    }
    .faq .nav-tabs{
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start !important;
        padding-bottom: 15px;
    }
    .faq .nav-tabs::-webkit-scrollbar{
        height: 0;
    }
    .faq .nav-tabs .nav-item{
       white-space: nowrap;
        word-break: keep-all;
    }
}
/*---other css--*/