:root {
    --heading-font: "Inter", sans-serif;
    --default-font: "Nunito", sans-serif;

    --bg-white: #ffffff;
    --bg-light: #F5F5FF;
    --bg-blue: #010273;
    --bg-orange: #FF8C02;
    --bg-yellow: #FF9D00;
    --bg-banner-gradient: linear-gradient(-90deg, #D9F9FF, #EAECFF);
    --bg-blue-gradient: linear-gradient(-90deg, #02C4EB, #010273);
    --bg-angular-gradient: conic-gradient(from 90deg, #010273, #BFBFE7);
    --bg-accent: #30C5D2;
    --bg-gray: #E8E8E8;
    --bg-part2: #E8EEFF; 
    --bg-green: #008E17; 

    --default-color: #010273;
    --accent-color: #30C5D2;
    --text-white: #fff;
    --text-black: #000;
    --text-green: #008E17;
    --text-orange: #FF8C02;
    --text-yellow: #FF9D00;

    scroll-behavior: smooth;
}
.sec-padding{
    padding: 0 7%;
}
.heading{
    color: var(--default-color);
    font-family: var(--heading-font);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
}
.heading span{
    color: var(--accent-color);
}
.blue-btn{
    color: var(--text-white);
    text-align: center;
    font-family: var(--heading-font);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-height: 50px;
    min-width: 200px;
    text-decoration: none;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border: 1px solid #010273;
    color: var(--text-white);
    background: var(--bg-blue);
}
.blue-btn:hover{
    background: var(--bg-blue);
}

/*--banner--*/
.banner-top{
    background: url(../images/all-courses/banner-bg.webp) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    border-top: 1px solid #ffffff4b;
    position: relative;
}
.banner-top:after, .banner-top:before{
    content: "";
    background: url(../images/all-courses/banner-dot.webp) center center no-repeat;
    background-size: cover;
    height: 50px;
    width: 150px;
    position: absolute;
}
.banner-top:after{
    top: 50px;
    right: 0;
}
.banner-top:before{
    bottom: 50px;
    left: 0;
    transform: rotate(180deg);
}
.banner-top .heading{
    color: var(--text-white);
    font-family: var(--heading-font);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.54%;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.banner-top .tagline{
    color: var(--text-white);
    font-family: var(--default-font);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-top .blue-btn{
    background: var(--bg-accent);
    color: var(--default-color);
    margin-bottom: 50px;
}
.banner-top .blue-btn:hover{
    background: var(--bg-white);
}

.new-most-courses{
    padding: 60px 0;
}
.new-most-courses .tagline{
    font-size: 20px;
    margin-top: 20px;
}
.new-most-courses .nav-tabs{
    justify-content: center;
    border: none;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.new-most-courses .nav-tabs .nav-link{
    background: var(--bg-accent);
    color: var(--default-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 30px;
    min-width: 180px;
}
.new-most-courses .nav-tabs .nav-link.active{
    background: var(--bg-blue);
    color: var(--text-white);
}
.new-most-courses .tab-content{
    
}
.new-most-courses .tab-content .part{
    border-radius: 10px;
    margin-top: 10px;
    background: #FEFEFE;
    box-shadow: -5px 3px 8.7px 4px rgba(204, 200, 206, 0.30);
    overflow: hidden;
}
.new-most-courses .tab-content .part .image{
    border-radius: 10px;
    min-height: 159px;
    background: #e0e0e0;
    position: relative;
}
.new-most-courses .tab-content .part .image img{
    object-fit: cover;
    width: 100%;
    min-height: 159px;
}
.new-most-courses .tab-content .part .image .online-offline {
    position: absolute;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.new-most-courses .tab-content .part .image .online-offline span {
    background: var(--bg-orange);
    color: var(--text-white);
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500
}

.new-most-courses .tab-content .part .image .online-offline span:nth-child(1) {
    background: green
}
.new-most-courses .tab-content .part .image .top-1{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 33px;
    height: 45px;
}
.new-most-courses .tab-content .part .image .top-1 img{
    min-height: 45px;
}
.new-most-courses .tab-content .part .content{
    padding: 20px 15px 15px 15px;
}
.new-most-courses .tab-content .part .content .head{
    color: var(--text-black);
    font-family: var(--heading-font);
    font-size: 16px;
    font-style: normal;
    min-height: 70px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
}
.new-most-courses .tab-content .part .content .duration{
    font-size: 18px;
    color: #3d3d3d;
    font-weight: 500;
    margin-bottom: 10px;
}
.new-most-courses .tab-content .part .content .duration span{
    padding-left: 25px;
    margin-left: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.new-most-courses .tab-content .part .content .duration span:before {
    content: "";
    background: url(../images/all-courses/calender.webp) center center no-repeat;
    position: absolute;
    left: 0;
    height: 17px;
    width: 17px;
}
.new-most-courses .tab-content .part .content .rating{
    font-size: 17px;
    color: #676767;
    margin-bottom: 20px;
}
.new-most-courses .tab-content .part .content .rating .star5{
    background: url(../images/all-courses/star.webp);
    display: inline-block;
    width: 90px;
    height: 16px;
}
.new-most-courses .tab-content .part .content .rating .star4{
    background: url(../images/all-courses/star.webp);
    display: inline-block;
    width: 84px;
    height: 16px;
}
.new-most-courses .tab-content .part .content .batch-start {
    color: var(--accent-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.new-most-courses .tab-content .part .content .btn-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-most-courses .tab-content .part .content .btn-group .blue-btn{
    font-size: 16px;
    min-width: 100%;
    min-height: 45px;
    color: var(--default-color);
    background: transparent;
}
.new-most-courses .tab-content .part .content .btn-group .blue-btn:hover{
    background: var(--bg-blue);
    color: var(--text-white);
}

.all-products-category{
    padding: 60px 0;
}
.all-products-category .nav-tabs{
    display: flex;
    flex-direction: column;
    width: 100%;    
    background: var(--bg-light);
    position: sticky;
    top: 125px;
}
.all-products-category .nav-tabs .category-head{
    border-radius: 5px 5px 0px 0px;
    background: #00B6CA;
    color: var(--text-white);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
}
.all-products-category .nav-tabs .nav-link{
    border-radius: 0;
    color: var(--default-color);
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding: 12px 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    border-color: #ddd;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.all-products-category .nav-tabs .nav-link:hover{
    border-color: #ddd;
}
.all-products-category .nav-tabs .nav-link.active{
    background: var(--bg-blue);
    color: var(--text-white);
}
.all-products-category .nav-tabs .nav-link .badge-danger {
    color: #fff;
    background-color: #dc3545;
    font-size: 10px;
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.all-products-category .grid-list-count{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: var(--bg-light);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.all-products-category .grid-list-count .grid-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.all-products-category .grid-list-count .grid-list span{
    cursor: pointer;
}
.all-products-category .tab-content .part{
    border-radius: 10px;
    margin-top: 10px;
    background: #FEFEFE;
    box-shadow: -5px 3px 8.7px 4px rgba(204, 200, 206, 0.30);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.all-products-category .tab-content .grid-list .part{
    flex-wrap: wrap;
}
.all-products-category .tab-content .part .image{
    border-radius: 10px;
    min-height: 159px;
    background: #e0e0e0;
    max-width: 40%;
    min-width: 40%;
    position: relative;
}
.all-products-category .tab-content .part .image .online-offline {
    position: absolute;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.all-products-category .tab-content .part .image .online-offline span {
    background: var(--bg-orange);
    color: var(--text-white);
    padding: 0 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500
}

.all-products-category .tab-content .part .image .online-offline span:nth-child(1) {
    background: green
}
.all-products-category .tab-content .grid-list .part .image{
    max-width: 100%;
    min-width: 100%;
}
.all-products-category .tab-content .part .image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.all-products-category .tab-content .part .content{
    padding: 20px 15px 15px 15px;
}
.all-products-category .tab-content .part .content .head{
    color: var(--text-black);
    font-family: var(--heading-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
}
.all-products-category .tab-content .grid-list .part .content .head{
    min-height: 100px;
}
.all-products-category .tab-content .part .content .duration{
    font-size: 18px;
    color: #3d3d3d;
    font-weight: 500;
    margin-bottom: 10px;
}
.all-products-category .tab-content .part .content .duration span{
    padding-left: 25px;
    margin-left: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
}
.all-products-category .tab-content .part .content .duration span:before {
    content: "";
    background: url(../images/all-courses/calender.webp) center center no-repeat;
    position: absolute;
    left: 0;
    height: 17px;
    width: 17px;
}
.all-products-category .tab-content .part .content .clock span:before {
    background: url(../images/all-courses/clock.webp) center center no-repeat;
}
.all-products-category .tab-content .part .content .rating{
    font-size: 17px;
    color: #676767;
    margin-bottom: 20px;
}
.all-products-category .tab-content .part .content .rating .star5{
    background: url(../images/all-courses/star.webp);
    display: inline-block;
    width: 90px;
    height: 16px;
}
.all-products-category .tab-content .part .content .rating .star4{
    background: url(../images/all-courses/star.webp);
    display: inline-block;
    width: 84px;
    height: 16px;
}
.all-products-category .tab-content .part .content .batch-start {
    color: var(--accent-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.all-products-category .tab-content .part .content .btn-group{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.all-products-category .tab-content .grid-list .part .content .btn-group {
    justify-content: center;
}
.all-products-category .tab-content .grid-list .part .content .btn-group .blue-btn{
    min-width: 100%;
}
.all-products-category .tab-content .part .content .btn-group .blue-btn{
    font-size: 16px;
    min-width: 240px;
    min-height: 45px;
    background: transparent;
    color: var(--default-color);
}
.all-products-category .tab-content .part .content .btn-group .blue-btn:hover{
    background: var(--bg-blue);
    color: var(--text-white);
}


/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
    .new-most-courses .tab-content .part .image img{
        min-height: 159px;
    }
    .new-most-courses .tab-content .part{
        height: 100%;
    }
}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .banner-top{
        text-align: center;
        padding-top: 50px;
    }
    .banner-top:after, .banner-top:before{
        opacity: 0.3;
        z-index: 0;
    }
    .new-most-courses .tab-content .part{
        height: auto;
    }
    .all-products-category .grid-list-count .grid-list span{
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .all-products-category .grid-list-count{
        margin-top: 30px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .banner-top .heading{
        font-size: 35px;
    }
}
/*---other css--*/