
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}


.p_120 {
  padding-top: 30px;
  padding-bottom: 30px;
}


/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 75px;
}

.main_title h2 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  color: #f4511e;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.team_area h2{
  color: #f4511e;
}

.main_title p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 26px;
  color: #777777;
  margin-bottom: 0px;
  max-width: 570px;
  font-weight: 300;
  margin: auto;
}

/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  min-height: 500px!important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../tax-speakers.jpeg) no-repeat scroll center center;
  background-size: cover;
}

.home_banner_area .banner_inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_banner_area .banner_inner .container {
  vertical-align: middle;
  -ms-flex-item-align: center;
  align-self: center;
}

.home_banner_area .banner_inner .banner_content {
  color: #f4511e;
  vertical-align: middle;
  -ms-flex-item-align: center;
  align-self: center;
  text-align: center;
  text-shadow: 1px 1px 1px grey;
}

.home_banner_area .banner_inner .banner_content h2 {
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 15px;
  box-shadow: 1px 1px 1px grey;
}

.home_banner_area .banner_inner .banner_content p {
  color: #f9f9ff;
  font-family: "Roboto", sans-serif;
  max-width: 680px;
  font-size: 16px;
  line-height: 26px;
  margin: 0px auto 35px;
  border: 1px solid #fff;
}

.event-title{
    font-family: "Heebo", sans-serif;
    font-size: 36px;
    color: #f4511e;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.home_banner_area {
  z-index: 1;
  min-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  background: url('<?php echo event_main_image_url()?>tax-speakers.jpeg') no-repeat scroll center center;
  background-size: cover;
}
.eventinfo{
    background-color:rgb(244, 81, 30,0.8)!important;
}


.banner_btn {
  padding: 0px 30px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
 
}

.banner_btn:hover {
  color: #fff;
}


/* End Main Button Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Event Time Area css
============================================================================================ */
.event_time_area {
  padding-bottom: 30px;
  box-shadow: 10px 10px grey;
}

.event_time_area.ab_event .event_time_inner {
  margin-top: 0px;

}

.event_time_inner {
  max-width: 944px;
  margin: auto;
  background: #fff;
   margin-top: -90px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(153, 153, 153, 0.1);
 box-shadow: 10px 10px 10px grey;
  padding-top: 45px;
  padding-bottom: 50px;
}

.event_time_inner .event_text {
  padding-left: 65px;
}

.event_time_inner .event_text h3 {
  color: #f4511e;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.event_time_inner .event_text p {
  margin-bottom: 0px;
}

.timer_inner {
  text-align: center;
  overflow: hidden;
}

.timer_inner h5 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 35px;
}

.timer_inner p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 25px;
}

.timer_inner .timer {
  max-width: 380px;
  margin: auto;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  border-radius: 5px;
}

.timer_inner .timer .timer__section {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-top: 20px;
  padding-bottom: 0px;
  position: relative;
}

.timer_inner .timer .timer__section .timer__number {
  font-size: 36px;
  color: #f4511e;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

.timer_inner .timer .timer__section .timer__label {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
  color: #777777;
  text-transform: capitalize;
}

/* End Event Time Area css
============================================================================================ */
/* Event Schedule Area css
============================================================================================ */
.event_schedule_inner .nav-tabs {
  border: none;
  border-radius: 5px;
  border-color: #f4511e;
  background: #fff;
  overflow: hidden;
}

.event_schedule_inner .nav-tabs li {
  margin-bottom: 0px;
}

.event_schedule_inner .nav-tabs li a {
  border: none;
  background: transparent;
  text-decoration: none;
  border-radius: 0px;
  padding: 0px 50px;
  line-height: 80px;
  color: #f4511e;
  font-size: 16px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  text-transform: uppercase;
}

.event_schedule_inner .nav-tabs li a.active, .event_schedule_inner .nav-tabs li a:hover {
  background: #f4511e;
  border: none;
  color: #fff;
}

.event_schedule_inner .tab-pane {
  background: #f9f9ff;
}

.event_schedule_inner .tab-pane .media {
  padding: 30px;
  margin: 0px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.event_schedule_inner .tab-pane .media .d-flex {
  padding-right: 25px;
}

.event_schedule_inner .tab-pane .media .media-body h5 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.event_schedule_inner .tab-pane .media .media-body h4 {
  font-size: 21px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  color: #f4511e;
  text-transform: uppercase;
}

.event_schedule_inner .tab-pane .media .media-body p {
  margin-bottom: 0px;
}

/* End Event Schedule Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*  Area css
============================================================================================ */
.welcome_inner .col-lg-6 {
  vertical-align: middle;
  -ms-flex-item-align: center;
  align-self: center;
}

.welcome_text h3 {
  color: #222222;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.welcome_text p {
  margin-bottom: 25px;
}

.welcome_text .main_btn {
  margin-top: 15px;
}

/* Event Time Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Team Area css
============================================================================================ */
.team_area {
  background: #f9f9ff;
}

.team_inner {
  margin-bottom: -50px;
}

.team_item {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.team_item .team_img {
  position: relative;
  overflow: hidden;
}

.team_item .team_img .hover {
  position: absolute;
  left: 0px;
  width: 100%;
  bottom: -70px;
  text-align: center;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  background: #fff;
}

.team_item .team_img .hover a {
  font-size: 14px;
  color: #dddddd;
  margin-right: 20px;
  line-height: 50px;
}

.team_item .team_img .hover a:last-child {
  margin-right: 0px;
}

.team_item .team_img .hover a:hover i:before {
  background: -webkit-gradient(linear, left top, right top, from(#2c28b1), color-stop(70%, #9b5cf6));
  background: -webkit-linear-gradient(left, #2c28b1 0%, #9b5cf6 70%);
  background: -o-linear-gradient(left, #2c28b1 0%, #9b5cf6 70%);
  background: linear-gradient(to right, #2c28b1 0%, #9b5cf6 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team_item .team_name {
  text-align: center;
  margin-top: 20px;
}

.team_item .team_name h4 {
  margin-bottom: 5px;
  color: #f4511e;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.team_item .team_name p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #777777;
  margin-bottom: 0px;
  text-align: justify;
}
/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */